body {
    background-size: cover;
    margin:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #1C1C1C;
}
.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top:62px;
    overflow: hidden; 
    background-color: #333; /*  #333*/
    font-family:Arial;
    z-index: 2;
}
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-weight:bold;
}

.navbar a.right {
    float: right;
    color: white;
    padding: 4px 7px;
    text-decoration: none;
    font-weight:bold;
}

.navbar img {
    height: 40px;
    width: auto;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #fff;
    transition:0.5s;
    color:#111;
}
.logo {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000;
    z-index: 2;
}
.logo a {
    margin-left: 30px;
    color:#fff;
    font-size: 55px;
    font-family: Impact;
    text-decoration: none;
}

.logo img {
    height: auto;
    padding: 5px;
    width: 110px;
    float: left;
}
.picture a {
    color:black;
    font-size: 20px;
    font-family: Impact;
}
.picture img {
    height: auto;
    width: 200px;
}

a.button1 {
    background-color: red; /* Green  #4CAF50 inline-block*/
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float:right;
    font-family:Arial;
   
}
.button1:hover {
    background-color: #DF0101;
    color: white;
}


table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.filterbar {
    border-spacing: 0;
    width: 100%;
    border: None;
    background-color: #333; /*#BCF5A9  */
    color: #fff;
}

.filterbar button  {
    width: 5%;
    height: 60px;
    border: none;
    float: left;
    font-size: 15px;
    color: white;
    background-color: #444;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-weight:bold;
    cursor: pointer;
}

div.detail {
    width: 50%;
    float: left;
    color:black;
    text-align: center;
}

div.map {
    width: 50%;
    float: left;
  
}

div.content{
    position: relative;
    top: 100px;
}

div.form{
    float:left;
    width: 50%;
    height: 400px;
}

div.form div.image{
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #ddd;
}

div.form div.image img{
    max-width: 380px;
    max-height: 400px;
}

img{
    width:300px;
}

b.text{
    font-size:45px;
    font-family: Impact;
}


