.background {
    position:fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/pic/town2.jpg");
    background-repeat: repeat;
    opacity: .5;
    height: auto;
}

div.gallery img {
    padding:5%;
    width: 90%;
    border-radius: 50%;
}

div.desc {
    font-size:22px;
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 10px;
    float: left;
    width: 25%;
}


