.ver_nav ul {
    list-style-type: none;
    margin-top:  2px;
    padding: 0;
    width: 20%;
    background-color:#1C1C1C; /*#1C1C1C rgb(0,0,0,1)*/
    
}
.ver_nav li a {
    display: block;
    color: #FFF;
    padding: 18px 15px ;
    text-decoration: none;
    font-size: 20px;
    font-family: Tahoma;
    
}


.ver_nav a:hover {
    background-color: #FFF;
    transition:0.5s;
    color:#111;
}

.ver_nav li a.active {
    background-color: #424242;/*#1C1C1C #4CAF50 #c68c53*/
    color: white;
    font-size: 30px;
    
}

.block {
    float:left;
    /*padding-right:5%;*/
    margin:auto;
    margin-top:2px;
    width: 60%;
    height: 420px;
}

.filter ul {
    float:left;
}
