extends ./layout.jade

block title
  title About WeCanEat
  link(href='/css/style1.css', rel='stylesheet')
  
block content
  .background  
  .responsive
    .gallery
      img(src='/pic/karn.jpg')
      .desc Nitikarn Seneewong na ayutthaya
  .responsive
    .gallery
      img(src='/pic/sarik.jpg')
      .desc Sarik Kumpan 
  .responsive
    .gallery
      img(src='/pic/tun.jpg')
      .desc Bunyagorn  Chatasing
  .responsive
    .gallery
      img(src='/pic/b.jpg')
      .desc Trakansak  Jungtrakarn
  .responsive
    .gallery
      img(src='/pic/kanna.jpg')
      .desc Supaporn  Pukeaw  
       