extends ./layout_admin.jade

block title
  title Add Business
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZnZZrP9Dcq5WiodTFYbXFRMc-pY9DNqo&callback=initMap")
  script(src="/js/geolocation-marker.js")
  link(href='/css/style1.css', rel='stylesheet')
  style(type="text/css").
    #map {
      height: 400px;
      width: 100%;
    }

block navbar
  a.right(onclick="changePos()") 
    img(src="https://png.icons8.com/ios/50/bdc3c7/define-location-filled.png")
    
block content
  div.detail
    h1 Add Business
    div.form
      div.image
        center
          img(src="", id="preview")
    div.form
      form(action='/add/busi', method="post", id="addBUSI", enctype="multipart/form-data")
        div.input
            span.label Business Name 
            br
            input(type="text", name="name", id="Bname")
        div.input
            span.label Lat 
            br
            input(type="text", name="lat", id="inputLat", 
                  onkeypress="changeLat(this.value);")
        div.input
            span.label Lag 
            br
            input(type="text", name="lng", id="inputLng",
                  onkeypress="changeLng(this.value);")
        div.input
            span.label Type
            br
            select(name="type", form="addBUSI")
              for item in TypeList
                option(value="#{item.ID}") #{item._Type}    
        div.input
            span.label Picture URL
            br
            input(type="file", name="file", onchange="previewPicture(this.value)")
        div.actions
            br
            input(type="submit", value="Add Business")
  div.map(id='location')
    h2 Location
    div(id="map")
      script(src="/js/map_setting.js")
      script(src="/js/map_style.js")
      script(src="/js/map.js")
      script(type='text/javascript').
        maps = initMap();
        initPointMarker();
  center
  