html
    head
        title Home page
        script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyDZnZZrP9Dcq5WiodTFYbXFRMc-pY9DNqo&callback=initMap")
        link(href='/css/just_test.css', rel='stylesheet')
        style(type="text/css").
           #map {
                height: 800px;
                width: 100%;
            }
    body
        //li #{TypeList}
        // each item in TypeList
        //      li=item._Type
        // each item in BUSIList
        //      li=item.Name
        ul
         div.logo
           img(src='/pic/pizza.png')
           a(href='/') WE CAN EAT
           button.button.button1 Green
     
        .navbar
          a(href='/') Home
          a(href='/about_us') About us
          a(href='/all/food') All Food
          a(href='/add/food') Add Food
          a(href='/all/business') ALL Business
        
        p hello world  