doctype html
html
    head
        title Detail Page
        link(href='/css/style1.css', rel='stylesheet')
        style(type="text/css").
    body
        ul
         div.logo
           img(src='/pic/pizza.png')
           a(href='https://what-we-eat-buntun.c9users.io') WE CAN EAT
     
        div.nav 
         ul
          li
             a(href='https://what-we-eat-buntun.c9users.io') Home
          li
             a(href='#news') News
          li
             a(href='#contact') Contact
          li
             a(href='#about') About
        h1 Detail for Business
        p This is a detail 