doctype html
html
    head
        title Detail Page
        link(href='/css/just_test.css', rel='stylesheet')
        style(type="text/css").
    body
        ul
         div.logo
           img(src='/pic/pizza.png')
           a(href='https://what-we-eat-buntun.c9users.io') WE CAN EAT
     
        .navbar
          a(href='https://what-we-eat-buntun.c9users.io') Home
          a(href='#about') About us
        h1 Detail for Business
        p This is a detail 