doctype html
html
  head
    meta(charset='utf-8')
    block title
      title Default title
    link(href='/css/just_test.css', rel='stylesheet')
    link(href='/css/login.css', rel='stylesheet')
    link(href='/css/food.css', rel='stylesheet')
    script(src="/js/script.js")
    body
        ul
         div.logo
           img(src='/pic/pizza.png')
           a(href='/') WE CAN EAT
           a.button1(href='/admin/logout') Logout
     
      .navbar
          a(href='/') Home
          a(href='/manage/food') Manage Food
          a(href='/manage/business') Manage Business
          a(href='#') Backup
          a(href='#') Recovery
    
    div.content
      -if (message)
        #alert
          p= message
      block content