extends ./layout_admin.jade

block content
  h1 LOGIN 
  -if (message)
    #alert
      p= message
  div
    form(action='/admin/login', method="post")
      div.input
        span.label EMAIL
            br
            input(type="text", name="email")
      div.input
        span.label Password
            br
            input(type="text", name="password")
      div.actions
            br
            input(type="submit", value="login")