extends ./layout_admin.jade

block content
  -if (message)
    #alert
      p= message
  center    
    form(action='/admin/login', method="post").loginform
      .imgcontainer
        img.avatar(src='/pic/ad.png', alt='Avatar')
      .container
        label(for='email')
          b Username
        input(type='text', placeholder='Enter Username', name='email', required='')
        label(for='password')
          b Password
        input(type='password', placeholder='Enter Password', name='password', required='')
        input.button(type="submit", value="login") 
      
  
  