extends ./layout_admin.jade
block title
  title Manage Food
  script(src='/js/popup.js')
  
block content
  p 
    a(href='/') Home <a /> > Manage Food  
  h1 ALL FOOD ARE
  form(action='/add/food', method="post")
    div.input
      span.label FOOD NAME 
      br
      input(type="text", name="name")
      input(type="submit", value="ADD")
  each item in food
    div
      p #{item.Name} 
        .button_food(onclick="popupConfirm('Do you want to delete Food Name : #{item.Name} ? '\
                        ,'/delete/food/#{item.ID}', '/manage/food')") DELETE