extends ./layout.jade

block title
  title Detail Page
  
block content
  p 
    a(href='/') Home <a /> > Business List 
  h1 Business List
  table(id="SortTable")
    tr
      th(onclick="sortTable(0)") Name
      th(onclick="sortTable(1)") Type
      th Detail
    each item in BUSIList
      tr(onclick="window.location.replace( \
      'https://what-we-eat-buntun.c9users.io/detail/#{item.ID}');")
        td=item.Name
        td=item._Type
        td
           a(href='/detail/'+item.ID) More Info <a />  