extends ./layout.jade
block content
  h1 ALL FOOD ARE
  table(id="SortTable")
    tr
      th(onclick="sortTable(0)") Name
    each item in food
      div
        tr(onclick="window.location=  \
      'https://what-we-eat-buntun.c9users.io/detail/"+item.FoodID+"'")
        td=item.Name 
      
      
      
