extends ./layout.jade

block title
  title Detail Page
  //https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_desc
  
block content
  p 
    a(href='/') Home <a /> > Business List 
  h1 Business List
  table(id="SortTable")
    tr
      th(onclick="sortTable(0)") Name
      th(onclick="sortTable(1)") Type
    each item in BUSIList
      tr(onclick="window.location=  \
      'https://what-we-eat-buntun.c9users.io/detail/"+item.ID+"'")
        td=item.Name
        td=item._Type